<!-- Here lies the landing page  -->
<div id="landing_page_content">
  <div id="lp_content">
    <h1>Big Data: You're guide to Chicago's Crime Data</h1>
    <hr>
    <p class="lpInfo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lobortis tincidunt posuere. Nam sagittis dui in justo iaculis, vitae faucibus est bibendum. Nullam laoreet nisl iaculis, luctus justo sed, tempor lorem. Mauris euismod neque a urna pulvinar, quis molestie justo hendrerit. Donec at arcu mi. Etiam ut metus commodo enim congue volutpat a eu mauris. Mauris congue vestibulum tortor, eget egestas sem finibus vel. Vestibulum consequat sapien ipsum, eget facilisis est accumsan ac. Curabitur consequat lectus eget purus dictum, ut cursus risus pulvinar.
    </p>
    <ul class="lpList">
      <li><a>Crime Info</a></li>
      <li><a>Metrics</a></li>
      <li><a>Web Data</a></li>
      <li><a>Data List</a></li>
    </ul>
    <p class="lpInfo">
      Pellentesque maximus, felis et malesuada faucibus, arcu massa imperdiet lacus, vel sodales est elit sodales nisi. Donec et pulvinar nunc. Aliquam non rutrum purus, nec convallis massa. Quisque nisi ante, lacinia id urna vitae, finibus sollicitudin ex. Nulla egestas varius hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas volutpat semper felis vel pulvinar. Ut non gravida est.
    </p>
  </div>
  <div id="lp_title">
    <ol>
      <li>C</li>
      <li>H</li>
      <li>I</li>
      <li>T</li>
      <li>O</li>
      <li>W</li>
      <li>N</li>
      <li>&nbsp;</li>
      <li>A</li>
      <li>N</li>
      <li>A</li>
      <li>L</li>
      <li>Y</li>
      <li>T</li>
      <li>I</li>
      <li>C</li>
      <li>S</li>
    </ol>
  </div>
</div>
<!-- Fin of Landing page -->


<!-- Beginning of Data layers -->

<div id="data_layers_page" class="">
  <div id="card_nav">
    <ul>
      <li id="info_card_btn"><i class="fa fa-info"></i></li>
      <li id="map_card_btn"><i class="fa fa-map"></i></li>
      <li id="metric_card_btn"><i class="fa fa-area-chart"></i></li>
    </ul>
  </div>
  <div id="data_layers_container">
    <div id="info_card" class="dataLayers">
      <div id="aLeft" class="infoArrows">
        <span><i class="fa fa-chevron-left"></i></span>
      </div>
      <div id="info_display_container">
        <ol class="noliStyle infoOLs">
          <li class="flL">Case Num</li>
          <li class="hideThis">&nbs;</li>
          <li class="flR">Crime</li>
        </ol>
        <ol class="noliStyle infoOLs">
          <li>Date</li>
          <li>Location</li>
          <li>crime subtype</li>
        </ol>
        <div id="additional_info_container">
          <div id="desc_container">
            <span id="aic_description">
              box-sizing: border-box;
            </span>
          </div>
          <ol id="aic_list" class="noliStyle">
            <li><span>add</span></li>
            <li><span>more</span></li>
            <li><span>stuff</span></li>
          </ol>
        </div>
      </div>
      <div class="infoArrows">
        <span><i class="fa fa-chevron-right"></i></span>
      </div>
    </div>
    <div id="map_card" class="dataLayers">ab
    </div>
    <div id="metric_card" class="dataLayers">abc
    </div>
  </div>
</div>






<!-- Fin of Data Layers -->
