<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/underscore-min.js"></script>
    <script type="text/javascript" src="/javascripts/backbone-min.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
  </head>
  <body>
    <table>
      <thead id="key">
        <th>Name</th>
        <th>Ingredients</th>
        <th>Toppings</th>
        <th>Delete</th>
      </thead>
      <tbody id="value">

      </tbody>
    </table>
  </body>
</html>
