<div id="landing_page_content">
  <div id="lp_title" class="">
    <ol>
      <li>C</li>
      <li>H</li>
      <li>I</li>
      <li>T</li>
      <li>O</li>
      <li>W</li>
      <li>N</li>
      <li>&nbsp;</li>
      <li>A</li>
      <li>N</li>
      <li>A</li>
      <li>L</li>
      <li>Y</li>
      <li>T</li>
      <li>I</li>
      <li>C</li>
      <li>S</li>
    </ol>
  </div>
</div>
