<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href='https://fonts.googleapis.com/css?family=Share:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/javascripts/loader.js"></script>
    <script type="text/javascript" src="/javascripts/underscore-min.js"></script>
    <script type="text/javascript" src="/javascripts/backbone-min.js"></script>
    <script type="text/javascript" src="/javascripts/mapOps.js">

    </script>
    <script type="text/javascript" src="/javascripts/graphOps.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
    <script type="text/javascript" src="/javascripts/animate.js"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg6XUTd5Bh0CNhz8vyaEjeTUSaVckCZ5A&callback=initMap">
    </script>

  </head>
  <body>
    <nav>
      <div id="flag_container"></div>
      <div id="nav_unit">
        <div id="logocon">
          <i class="fa fa-bar-chart"></i>
        </div>
        <ul class="navList">
          <li id="home_page" class="navUnits"><i class="fa fa-home"></i></li>
          <li id="data_page" class="navUnits"><i class="fa fa-cubes"></i></li>
        </ul>
        <ul id="user_list" class="navList">
          {{#if user}}
            Welcome, {{user.username}}
          {{else}}
            <li id="login_btn" class="userBtns"><i class="fa fa-users"></i></li>
            <li id="register_btn" class="userBtns"><i class="fa fa-user-plus"></i></li>
          {{/if}}
        </ul>
      </div>
    </nav>
    <div id="user_forms_container">
      <span id="close_ufc"><i class="fa fa-times"></i></span>
      <h1>User Portal</h1>
      <form action="/account/login" method="post" id="login_form" class="userForms">
        <input type="text" name="username" value="" placeholder="Username">
        <input type="password" name="password" value="" placeholder="Password">
        <input type="submit" value="Login">
      </form>

      <form action="/account/register" method="post" id="register_form" class="userForms">
        <input type="text" name="username" value="" placeholder="Username">
        <input type="email" name="email" value="" placeholder="Email">
        <input type="password" name="password" value="" placeholder="Password">
        <input type="submit" value="Create Account">
      </form>
    </div>
    <div id="body_container">
      {{{body}}}
    </div>
  </body>
</html>
