{{#if user}}
  Welcome, {{user.username}}
{{else}}
  Hey you should <button type="button" id="loginBtn">Login</button> or <button type="button" id="registerBtn">Register</button>
{{/if}}

<form action="/account/login" method="post" id="loginForm">
  <input type="text" name="username" value="" placeholder="Username">
  <input type="password" name="password" value="" placeholder="Password">
  <input type="submit" value="Login">
</form>

<form action="/account/register" method="post" id="registerForm">
  <input type="text" name="username" value="" placeholder="Username">
  <input type="email" name="email" value="" placeholder="Email">
  <input type="password" name="password" value="" placeholder="Password">
  <input type="submit" value="Create Account">
</form>

<!-- To go in app.js: -->
<script type="text/javascript">
  $('#loginForm').hide();
  $('#registerForm').hide();
  $('#loginBtn').on('click', function() {
    $('#registerForm').hide();
    $('#loginForm').show();
  });
  $('#registerBtn').on('click', function() {
    $('#loginForm').hide();
    $('#registerForm').show();
  });
</script>
