<form action="/account/savesearch" method="post">
  <input type="hidden" name="primarycrime" value="">
  <input type="hidden" name="subcrime" value="">
  <input type="hidden" name="subcrime" value="">
  <input type="hidden" name="subcrime" value="">
  <input type="hidden" name="subcrime" value="">
  <input type="submit" value="Save Filters">
</form>

primarycrime: String,
subcrime: String,
timeStart: String,
timeEnd: String,
location: String
