<!DOCTYPE html>
<html>
<head>
  <title>mrr</title>
  <link href='https://fonts.googleapis.com/css?family=Share:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/loader.js"></script>
  <script type="text/javascript" src="/javascripts/underscore-min.js"></script>
  <script type="text/javascript" src="/javascripts/backbone-min.js"></script>
  <script type="text/javascript" src="/javascripts/graphOps.js"></script>
  <script type="text/javascript" src="/javascripts/app.js"></script>
  <script type="text/javascript" src="/javascripts/animate.js"></script>
</head>
  <body>
    <div class="chart_div"></div>
  </body>
</html>
