
html, body{
  margin: 0;
  padding: 0;
  background-color: hsla(200, 71%, 83%, .5);
  width: 100%;
  height: 100%;
  font-family: 'Share', cursive;
  box-sizing: border-box;

  .active{
    visibility: visible !important;
    display: block !important;
  }
  .inactive{
    visibility: hidden !important;
    display: none !important;
  }
  #user_forms_container{
    position: fixed;
    top: 15%;
    bottom: 15%;
    right: 25%;
    left: 25%;
    background: rgba(250, 250, 250, .95);
    z-index: 999;
    -webkit-box-shadow: 0px 12px 30px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 12px 30px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 12px 30px -7px rgba(0,0,0,0.75);
    text-align: center;
    padding: 5%;
    padding-top: 7.5%;
    display: none;

    #close_ufc{
      position: absolute;
      top: 1%;
      right: 2%;
      font-size: 3em;
      //border: 2px solid black;

    }
    h1{
      margin: 0;
      padding: 0;
      font-size: 5vh;
    }
    .userForms{
      width: 50%;
      height: auto;
      margin: 0 auto;
      padding-top: 10%;

      input{
        border: 2px solid black;
        display: block;
        text-align: center;
        margin: 10% auto;
        font-size: 2vh;
        border-radius: 5px 5px 5px 5px;
        border-radius: 2px 2px 2px 2px;
        -moz-border-radius: 2px 2px 2px 2px;
        -webkit-border-radius: 2px 2px 2px 2px;
        background-color: rgba(245, 245, 245, .5);

        &:last-child{

          &:hover{
            background-color: rgba(150, 150, 150, 1);
          }
        }
      }
    }
  }
  nav{
    background-color: rgba(250, 250, 250, 1);
    width: 100%;
    height: 20%;
    position: absolute;

    #flag_container{
      background-image: url('/images/flag.png');
      background-repeat:no-repeat;
      background-size: cover;
      background-position: center center;
      background-color: red;
      width: 20%;
      height: 90%;
      position: absolute;
      left: 10%;
      top: 5%;
      -webkit-box-shadow: inset 0px 0px 20px 3px rgba(0,0,0,0.51);
      -moz-box-shadow: inset 0px 0px 20px 3px rgba(0,0,0,0.51);
      box-shadow: inset 0px 0px 20px 3px rgba(0,0,0,0.51);
      border-radius: 2px;
    }
    #nav_unit{
      float: right;
      background-color: rgba(0, 0, 0, .15);
      width: 20%;
      height: 100%;
      padding: 0;
      margin: 0;



      #logocon{
        clear: both;
        margin: 5% 0 0 0;
        width: 100%;
        padding: 5% 0;
        font-size: 10vh;
        text-align: center;
      }
      #user_list{
        text-align: center;
        color: white;
      }
      .navList{
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 2%;
        width: 20%;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
        display: none;
        text-align: center;
        .navUnits{
          display: inline-block;
          border: 2px black solid;
          font-size: 2.5vh;
          margin: 2px auto;
          text-align: center;
          padding: 0% 0;
          width: 30%;
          .fa{
            margin-right: 3px;
          }
        }
        .userBtns{
          display: inline-flex;
          border: 2px black solid;
          font-size: 2vh;
          margin: 1% 0;
          text-align: center;
          padding: 2% 5%;
        }
      }
    }
  }
  #landing_page_content{
    z-index: 4;
    color: rgba(10, 10, 10, .5);
    background-color: rgba(179, 221, 242, 1);
    position: absolute;
    width: 100%;
    height: 80%;
    top: 20%;
    margin: 0;
    padding: 0;
    //very important
    // opacity: 0;
    // display: none;
    #lp_content{
      margin: 0;
      padding: 0;
      width: 60%;
      height: 100%;
      padding: 0 10%;
      overflow-y: auto;
      position: absolute;
      display: block;

      h1{
        margin-top: 10%;
        width: 70%;
      }
      .lpInfo{
        width: 55%;
        margin-left: 10%;
        text-align: justify;
      }
      hr{
        margin: 0;
        width: 70%;
        border: 0;
        height: 2px;
        background: hsla(10, 10, 10, .7);
      }
      .lpList{
        width: 50%;
        margin-left: 10%;
        list-style-type: square;
      }
    }
    #lp_title{
      width: 20%;
      color: black;
      float: right;
      background-color: rgba(250, 250, 250, 1);
      height: 100%;
      margin: 0;
      padding: 0;
      -webkit-box-shadow: inset 10px 10px 22px -6px rgba(0,0,0,0.75);
      -moz-box-shadow: inset 10px 10px 22px -6px rgba(0,0,0,0.75);
      box-shadow: inset 10px 10px 22px -6px rgba(0,0,0,0.75);
      visibility: visible;
      ol{
        list-style: none;
        padding:0;
        margin: 0;
        height: 80%;
        padding-top: 10%;
        li:first-child{
          margin: 0;
        }
        li{
          font-size: 3.75vh;
          font-weight: 700;
          width: auto;
          margin: 0 0;
          text-align: center;
        }
      }
    }
  }
  #data_layers_page{
    width: 0;
    height: 80%;
    top: 20%;
    z-index: 3;
    position: absolute;

    #card_nav{
      position: absolute;
      width: 100%;
      height: 10%;
      z-index: 99;
      background-color: rgba(179, 221, 242, 1);
      visibility: hidden;
      -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 5px 10px 0px rgba(0,0,0, .5);

      ul{
        height: 100%;
        list-style: none;
        display: block;
        margin: 0;

        li{
          margin-left: 9.5%;
          display: inline-block;
          font-size: 6.5vh;
        }
      }
    }
    #data_layers_container{
      width: 100%;
      height: 100%;
      //background-color: rgba(22, 103, 103, 1);
      position: absolute;
      #info_card{
        z-index: 2;
        visibility: hidden;
        opacity: 0;

        #aLeft{
          float: left;
        }
        .infoArrows{
          width: 15%;
          height: 100%;
          float: right;

          .fa{
            font-size: 15vh;
            color: white;
            position: absolute;
            top: 30%;
            padding: 2.5%;
          }
          .fa-chevron-left{
            left: 2.5%;
          }
          .fa-chevron-right{
            right: 2.5%;
          }
        }
        #info_display_container{
          background-color: rgba(150, 150, 150, .5);
          position: absolute;
          left: 15%;
          //top: 10%;
          width: 70%;
          height: 100%;
          z-index: 2;
          overflow-y: auto;
          border: solid rgba(250, 250, 250, .8);;
          border-bottom: none;
          border-top: none;
          box-sizing: border-box;

          .infoOLs{
            background-color: rgba(250, 250, 250, .5);
            padding: 3.5% 0;
            text-align: center;
            margin: 10% auto 2%;
            width: 80%;

            .hideThis{
              opacity: 0;
            }
            li{
              display: inline-block;
              font-size: 3vh;
              width: 25%;

            }
          }
          #additional_info_container{
            width: 70%;
            height: 20%;
            margin: 0 auto;
            overflow-y: hidden;
            #desc_container{
              width: 100%;
              height: 100%;
              background-color: rgba(250, 250, 250, .5);

              #aic_description{
                padding: 0;
                display: block;
                padding: 5%;
                width: 80%;
                height: 81%;
                margin: 0 auto;
                text-align: center;
                font-size: 3vh;
                background-color:  rgba(179, 221, 242, .5);
              }
            }
            #aic_list{
              background-color: red;
              margin: 0;
              padding: 0;
              list-style: none;
              width: 20%;
              height: 100%;
              float: right;
              overflow-y: auto;
              li{
                display: block;
                background-color: green;
                width:100%;
                margin-top: 2%;
                padding: 4% 0;
                text-align: center;

                span{
                  padding: 2.5%;
                  background-color: blue;
                  vertical-align: middle;
                  font-size: 2vh;
                }
              }
            }
          }
        }
      }
      #map_card{
        z-index: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(179, 221, 242, 1);
        visibility: hidden;

        #drop_down{
          padding: 1%;
          background-color: rgba(150, 150, 150, .5);
          position: fixed;
          top: 35%;
          width: 20%;
          right: 5%;
          z-index: 2;
          -webkit-box-shadow: 0px 5px 27px 5px rgba(0,0,0,0.15);
          -moz-box-shadow: 0px 5px 27px 5px rgba(0,0,0,0.15);
          box-shadow: 0px 5px 27px 5px rgba(0,0,0,0.15);
          border-radius: 2px;

          #type{
            -webkit-appearance:none;
            -moz-appearance:none;
             appearance:none;
             width: 70%;
             border-radius: none;

          }
        }
        #map{
          width: 100%;
          height: 100%;
          margin: 0 auto;
        }

      }
      #metric_card{
        z-index: 1;
        width: 100%;
        height: 100%;
        visibility: hidden;
      }
      .dataLayers{
        width: 100%;
        height: 100%;
        padding: 0;
        position: absolute;
        background: url('/images/chicago-backdrop.jpg');
        background-repeat: no-repeat;
        background-size: cover;

      }

    }
  }
}

#map {
  float: right;
  clear: none;
  width: 50%;
  height: 100%;
}

#drop_down {
  float: left;
  margin-top: 50px;
  margin-left: 50px;
}

#graph_form {
  float: left;
  margin-top: 50px;
  margin-left: 50px;
}

#chart_div {
  float: right;
  min-width: 70%;
  max-width: 100%;
  top: 10%;
  height: 80%;
  margin-right: 5%;
}
